* {
    margin: 0; 
     background-color: #ffffff;
     box-sizing: border-box;  
  }  

  .c1t { 
    color: rgb(22, 175, 175);
  } 

  .geral {
    width: 100vw;
    height: 100vh; 
    justify-content: center; 
    align-items: center;
  }

  .mg40 {
    margin-left: 40%;
  } 

  .zp {
    background-color: aquamarine;
  }

  